.calculator { 
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;

    height: 320px; width: 235px; 
    border-radius: 5px; 
    overflow: hidden; 
    margin-top: 10px; 
    box-shadow: 1px 2px 3px 1px #3434343b, 1px 4px 10px 8px #0000002e; 
}